<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row justify-content-between">
   <div>
    <img class="navbar-brand" src="/assets/logoTL.png" />
   </div>
        
        
            <div>
                <form class="d-flex">
                    <input class="form-control me-2 boxsize" type="search" placeholder="Search products" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search </button>
                </form>
            </div>
    <div>
                <button class="btn btn-outline-success mr-5 boxsize" type="submit" (click)="openModal()">Iniciar sesión</button>
                

                <img src="/assets/carrito.png " class="mr-5 carrito"/>
        
    </div>
</nav>