<app-header></app-header>

<div class="card m-4">
    <div class='editcatrowb'>
        <button>Back to categories list</button>
        <p>CATEGORY</p>
    </div>

    <form
    [formGroup]="formCategory"
    (ngSubmit)="saveCategory()">
    <div class='editcatrow ml-5 mt-5'>
        <p>Categoria:</p>
        <input type="text" formControlName="nameCategory">
    </div>
    <div class='editcatrow ml-5 mt-5'>
        <p>Category Image</p>
        <input type="file" formControlName="imgCategory">
    </div>
    <div class='editcatrow ml-5'>
        <p>Description</p>
        <input type="text" formControlName="description">
    </div>
    <div class='editcatrow mt-5 ml-5 mb-2'>
        <button  type="submit">Save</button>
        <button type="submit">Delete</button>
    </div>
</form>


</div>
