<app-header></app-header>

<div class="card m-4">
    <div class='editcatrowb'>
        <button>Back to categories list</button>
        <p>CATEGORY</p>
    </div>
    <div class='editcatrow ml-5 mt-5'>
        <p>Category Image</p>
        <input type="file">
    </div>
    <div class='editcatrow ml-5'>
        <p>Description</p>
        <input type="text">
    </div>
    <div class='editcatrow mt-5 ml-5 mb-2'>
        <button (click)="login()">Save</button>
        <button>Delete</button>
    </div>
</div>
