<app-header></app-header>

<div class="card m-4 d-flex">
  <form [formGroup]="formCategory" (ngSubmit)="saveCategory()">
    <div class="editcatrow mx-5 mt-5">
      <p>Categoria:</p>
      <input type="text" formControlName="nameCategory" />
    </div>
    <div class="editcatrow mx-5 mt-5">
      <p>Category Image</p>
      <input type="text" formControlName="imgCategory" />
    </div>
    <div class="editcatrow mx-5 mt-5">
      <p>Description</p>
      <input type="text" formControlName="description" />
    </div>
    <div class="editcatrow mt-5 ml-5 mb-2">
      <button type="submit" class="btn btn-success mx-5 mb-5">Save</button>
    </div>
  </form>
</div>
